// $primary-blue: #24346c;
$primary-blue: #061536;
$primary-blue-light: #287094;
// $primary-sand: #eae8dc;
// $primary-sand: #d7cbd3; //violet
// $primary-sand: #7c84a1;
$primary-sand: lightgrey;
// $primary-red: #be2623;
$primary-red: #ff5773;
// $primary-red: #fe424d;
