@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
.nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100vw;
  background-color: lightgrey;
  position: fixed;
  top: 0;
  z-index: 10;
}

.name-container {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 0;
  width: 40vw;
}

.name-container__a {
  font-weight: bold;
  color: #ff5773;
}

.name-container__a:hover {
  color: #061536;
}

.link-container {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0;
  width: 60vw;
}

.nav-item {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.nav-item__a {
  color: #061536;
  font-weight: bold;
}

.nav-item__a--title {
  color: #ff5773;
}

.nav-item--title {
  margin-left: 10px;
  font-weight: bold;
}

@media only screen and (max-width: 576px) {
  .nav-item__a--title {
    font-size: 20px;
    padding-left: 10px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .nav-item__a--title {
    font-size: 20px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .nav-item__a--title {
    font-size: 25px;
  }
}
@media only screen and (min-width: 993px) {
  .nav-item__a--title {
    font-size: 25px;
  }
}
.hamburger-container {
  display: flex;
  align-items: center;
}

.hamburger-container__icon {
  font-size: 20px;
  color: #061536;
  margin-right: 20px;
  cursor: pointer;
  list-style: none;
}

@media only screen and (min-width: 577px) {
  .hamburger-container__icon {
    display: none;
  }
}
#check {
  display: none;
}

.nav-item:hover {
  border-bottom: 2px solid white;
}

.nav-item:hover .nav-item__a {
  color: #ff5773;
}

.nav-item--title:hover .nav-item__a--title {
  color: #061536;
}
